<div class="container-fluid">
    <div class="jumbotron align-items-center">
        <div class="jumbo-text">
           <h1 class="display-1 display-white">Ma' Laniabys</h1>
        <p class="display-4">Boutique</p>
        <p class="display-4">256-267-1435</p> 
        </div>
    </div>
    
    <div class="feature-cards">
        <h1 class="display-2 text-center">Welcome To Our Store</h1>
    </div>
    
    <div class="container">
        <div class="card-deck">
           
                 <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <%= image_tag('grayTop.jpg', class: 'card-img-top') %>
                            <h5 class="card-title">Umgee ML015</h5>
                            <p class="card-text">Sheer Lace Back Sleeveless Top with Ruffled Details</p>
                            <p>S M L  $20.00</p>
                        </div>
                        <div class="back">
                            <%= image_tag('grayTop1.jpg', class: 'card-img-top') %>
                            <h5 class="card-title">Umgee ML015</h5>
                            <p class="card-text">Sheer Lace Back Sleeveless Top with Ruffled Details</p>
                            <p>S M L  $20.00</p>
                        </div>
                    </div>
              
            </div>
            
             
                 <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <%= image_tag('purpleDress1.jpg', class: 'card-img-top') %>
                            <h5 class="card-title">Umgee ML070</h5>
                            <p class="card-text">Washed Crossed V-Neck Pocket Dress.</p>
                            <p>XL - 1X - 2X $24.00</p>
                            
                        </div>
                        <div class="back">
                            <%= image_tag('purpleDress.jpg', class: 'card-img-top') %>
                             <h5 class="card-title">Umgee ML070</h5>
                            <p class="card-text">Washed Crossed V-Neck Pocket Dress.</p>
                            <p>XL - 1X - 2X $24.00</p>
                            
                        </div>
                    </div>
                </div>
            
            

            
           
                 <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <%= image_tag('redTop1.jpg', class: 'card-img-top') %>
                            <h5 class="card-title">Umgee </h5>
                            <p class="card-text">Floral Print and Striped 3/4 Sleeve Top with a Ruffled Hem</p>
                            <p>S M L $22.00</p>
                        </div>
                        <div class="back">
                            <%= image_tag('redTop.jpg', class: 'card-img-top') %>
                            <h5 class="card-title">Umgee </h5>
                            <p class="card-text">Floral Print and Striped 3/4 Sleeve Top with a Ruffled Hem</p>
                            <p>S M L $22.00</p>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
    
    
</div>