<div class="container-fluid">
  <div class="show-container">
    <div class="main_content">
  <div class="row" id="">
    <div class="col-md-5">
      <%= image_tag(@product.image.url, size: '400x600') if @product.image? %> 
    </div>
    <div class="col-md-7 col-md-offset-1">
      <div id="bg-show">
        <h1>
          <%= @product.name %>
        </h1>
        
         <p><span class="p-5">$<%= @product.price %></span>Sku:<span class="p-5"><%= @product.sku %></span></p>
  
        <p class="">
          <%= @product.description %>
        </p>
        <hr />
        
        <h4>Quantity </h4>
        <%= button_to 'Add to Cart', line_items_path(product_id: @product),  class: 'btn btn-warning' %>
       
      </div>
    </div>
    
    
  </div>
  
  <%= link_to 'Edit', edit_product_path, class: 'btn btn-sm btn-danger' %> <%= link_to 'Delete', product_path, method: :delete, data: {confirm: 'Are you sure you want to delete'}, class: 'btn btn-sm btn-danger' %>
  </div>
  
</div>
